.container {
	
    text-align:center;
    width: 1024px;
}

h1 {
	font-size: 75px;
	color:red;
	text-transform: uppercase;
	margin: 15px;
}
body{
	/* margin-left:400px;  */
	display:flex;
	justify-content: center;
}
